VirtualEnvironment
__pycache__
*.pyc
*.zip
set1/pycharm-edu/.coursecreator/pycharm-edu_2_minetest_course
set1/pycharm-edu/.coursecreator/python-edu_2_minetest_course
set1/pycharm-edu/.coursecreator/Python_2_minetest_course
course.json
workspace.xml

